<h1>Eventos do Component</h1>
<!-- chamando o tema e local do array de indice 0 do objeto eventos
  <p><b>Tema:</b> {{eventos[0].Tema}}</p>
  <p><b>Local:</b> {{eventos[0].Local}}</p> -->

<!-- diretiva ngFor repete enquanto existe dado no objeto evento, é igual um foreach -->
<div *ngFor="let evento of eventos">
  <!-- nesse caso chama a variável let do ngFor que esta referenciando o objeto, não precisa informar índice-->
  <p><b>Tema:</b> {{evento.tema}}</p>
  <p><b>Local:</b> {{evento.local}}</p>
  <hr>
</div>
